<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316236883019-340e16928300dulkeik26klih3f20quf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316236883019-340e16928300dulkeik26klih3f20quf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>316236883019-q6p1afm1hkr89r2b8b7ck908dqb9ntj7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFMKX7LO6eZ9qSUuViSG9ZsXNZ9PU9m6I</string>
	<key>GCM_SENDER_ID</key>
	<string>316236883019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.chefcopilot</string>
	<key>PROJECT_ID</key>
	<string>chef-copilot</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-copilot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316236883019:ios:89dc0fa00ec43f4e9159ce</string>
</dict>
</plist>